@keyframes twilight {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.8;
   }
   100% {
      opacity: 0.5;
   }
}

@keyframes spark {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}

@keyframes rotate-one {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes rotate-second {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes head {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes lantern {
   0% {
      box-shadow: 0px 0px 0px #f3f706;
   }
   50% {
      box-shadow: 20px 0px 10px #f3f706;
   }
   100% {
      box-shadow: 30px 0px 20px #f9fd02;
   }
}

@keyframes marker {
   0% {
      box-shadow: 0px 0px 10px #f70303;
      background-color: #f70808;
   }
   50% {
      box-shadow: -8px 0px 15px #f53a3a;
      background-color: #f53a3a;
   }
   100% {
      box-shadow: -15px 0px 20px #f53a3a;
      background-color: #f53a3a;
   }
}
@keyframes box-go {
   0% {
      left: 0;
      transform: scaleX(1);
   }
   50% {
      left: 800px;
      transform: scaleX(1);
   }
   51% {
      transform: scaleX(-1);
   }
   100% {
      left: -600px;
      transform: scaleX(-1);
   }
}
