@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tac+One:regular&display=swap");

@font-face {
   font-family: "Proxima Nova";
   src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Proxima Nova";
   src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}