@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
@font-face {
  font-family: "AmstelvarAlpha";
  src: url("../fonts/AmstelvarAlpha-Default.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Open Sans";
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/rain.jpg") 0 0/cover no-repeat;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------- */
[class*=__container] {
  max-width: 84.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.header {
  text-align: center;
  padding-block: 2.8125rem;
}
.header__title {
  font-family: "Pacifico";
  font-size: 2.8125rem;
}

.problem {
  text-align: center;
  font-size: 1.25rem;
}
.problem__items {
  max-width: 25rem;
  margin: 0 auto;
  background-color: #a1df11;
  border-radius: 0.9375rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  margin-bottom: 0.9375rem;
}
.problem__items p {
  margin-bottom: 0.9375rem;
  font-style: italic;
  font-size: 1.5625rem;
}
.problem__title {
  text-align: center;
  margin-bottom: 0.9375rem;
}
.problem__list {
  margin-bottom: 0.9375rem;
}
.problem__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.problem__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}

.title-problem {
  font-family: "Lobster";
  font-size: 1.875rem;
}